/* 通用css */

/*
 * 内容单行显示
 */
.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*
 * 内容两行显示
 */
.text-line {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

/**
 * flex布局row
 */
.flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-row{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-column-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-column{
	display: flex;
	flex-direction: column;
	align-items: center;
}
